.main-grid {
    width: 100%!important;
    display: flex!important;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: column;
}

.topbar-content a span {
    display: none;
}

.grid-menu, .grid-themeboxes {
    display: none!important;
}

.mobile {
    display: flex!important;
}

.mobile-topbar {
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5px 10px;
    background-image: url(../images/general/header-background.png);
    background-size: contain;
    width: 100%;
    height: 50px;
}

.mobile-topbar button, .mobile-topbar a {
    height: 40px;
    width: 40px;
    background: blue;
    border: 1px solid #d9b498;
    color: orange;
    font-size: 16pt;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

/* mobile menu */
.mobile-menu {
    position: fixed;
    z-index: 9000;
    top: 50px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    transform: scale(2);
    transform-origin: 0% 0%;
    padding-bottom: 12px;
    transition: all .2s;
}

.mobile-menu.hidden {
    top: -5000px;
}

.mobile-menu::after {
    content: "";
    display: block;
    background-image: url(../images/menu/box-extreme.gif);
    width: 180px;
    height: 12px;
    position: absolute;
    bottom: -0px;
}

.mobile-menu .menu-holder .menu-item {
    background: url(../images/menu/button-background.gif);
    height: 32px;
    width: 170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    user-select: none;
    cursor: pointer;
    transition: all .2s;
}

.mobile-menu .menu-holder .menu-item:hover {
    filter: brightness(1.2);
}


.mobile-menu .menu-holder .menu-item img {
    margin-left: 15px;
}

.mobile-menu .menu-holder .menu-item span {
    width: 90px;
    text-wrap: nowrap;
    text-align: center;
    color: #d9b498;
    text-shadow: 
    1px   0  0   #311800, 
   -1px   0  0   #311800, 
    0    1px 0   #311800, 
    0   -1px 0   #311800, 
    1px  1px 0   #311800, 
   -1px -1px 0   #311800, 
    1px -1px 0   #311800, 
   -1px  1px 0   #311800,
    1px  1px 3px #311800;
    font-size: 14pt;
    font-weight: lighter;
    line-height: 14pt;
    font-family: 'RealTibiaFont', serif;
    text-transform: capitalize;
}

.mobile-menu .menu-holder .menu-submenus::before {
    content: '';
    display: block;
    background: url(../images/menu/chain.gif);
    width: 7px;
    height: 100%;
    position: absolute;
    left: 0px;
}

.mobile-menu .menu-holder .menu-submenus::after {
    content: '';
    display: block;
    background: url(../images/menu/chain.gif);
    width: 7px;
    height: 100%;
    position: absolute;
    right: 0px;
}

.mobile-menu .menu-holder .menu-submenus {
    display: flex;
    flex-direction: column;    
    position: relative;
    transition: all .2s;
    overflow: hidden;
}

.mobile-menu .menu-holder .menu-submenus .submenu-item {
    width: 164px;
    color: white;
    background: rgb(13, 46, 43);
    border-bottom: 1px solid #4b7874;
    margin: 0 auto;
    cursor: pointer;
    text-decoration: none;
    transition: all .2s;
}

.mobile-menu .menu-holder .menu-submenus .submenu-item:hover {
    background: rgb(19, 66, 62);
}

.mobile-menu .menu-holder .menu-submenus .submenu-item span {
    display: block;
    padding: 2px 0;
    padding-left: 17px;
    font-size: 10pt;
    color: rgba(255, 255, 255, 0.900);
    text-transform: capitalize;
}

.mobile-menu .menu-holder .menu-submenus .submenu-item span.active {
    color: #fff;
    font-weight: bolder;
    position: relative;
}

.mobile-menu .menu-holder .menu-submenus .submenu-item span.active::before {
    content: '';
    background: url(../images/menu/icon-activesubmenu.gif);
    width: 10px;
    height: 10px;
    position: absolute;
    left: 5px;
    top: 5px;
}